<div id="textarea"></div>
<div class="bottom">
	<input id="send" name="send" autofocus>
	<input id="btn" type="button" value="전송">
	<input id="quit" type="button" value="나가기">
	<input id="list" type="button" value="목록">
</div>
<div class="userList"></div>
<script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
<!-- <script src="${cpath }/resources/js/chat.js"></script> -->
<script>
  var qs = getQueryStringObject();
	const cpath = 'http://192.168.0.50:8088/java';//'${cpath}'
	const username = qs.username
	const btn = document.getElementById('btn')
	const send = document.getElementById('send')
	const textarea = document.getElementById('textarea')
	const quit = document.getElementById('quit')
	const list = document.getElementById('list')
	const ws = new SockJS(cpath + '/chat?username='+username) 
    // username 식별 위해 query String으로 전달
	
	ws.onmessage = onMessage
	ws.onopen = onOpen // 웹 소켓이 열리면 입장 메시지 출력
	ws.onclose = onClose
	ws.onerror = function(msg) {}
	
	btn.onclick = sendHandler
	send.onkeydown = keyHandler
	quit.onclick = quitHandler // 나가기 버튼을 클릭하면 웹소켓을 닫고 로그아웃
	
	list.onclick = showListHandler

  function onOpen(event) {
	const payload = {
		message : username + ' 님이 입장하였습니다.',
		status : 'alarm'
	}
	ws.send(JSON.stringify(payload))
}

function onMessage(event) {
	
	let className
	if(JSON.parse(event.data).status == 'alarm') {
		className = 'alarm'
	} else {
		if(JSON.parse(event.data).username == username) {
			className = 'self'
		} else {
			className = 'other'
		}	
	} 
	
		
	let tag = `<div class=${className}>`
	tag += `<span class="name">${JSON.parse(event.data).username}</span>` 
	tag += `<span class="message">${JSON.parse(event.data).message}</span>`
	tag += `</div>`
	textarea.innerHTML += tag
	// 메시지가 길어지면 자동으로 아래로 스크롤
	textarea.scroll({top: textarea.scrollHeight, behavior: 'smooth'})
}

function onClose(event) {

}

// Handler
function keyHandler(event) {
	if(event.key == 'Enter') { 
		sendHandler(event)
	}	
}

function sendHandler(event) {
	const message = send.value
	send.value = ''
	ws.send(JSON.stringify({
		username : username,
		message : message,
		status : 'msg'
	}))
	send.focus()
}

function quitHandler(event) {
	const payload = {
			status : 'alarm',
			message : username + ' 님이 퇴장하였습니다.'
		}
	ws.send(JSON.stringify(payload))
	ws.close()
	location.href = cpath + '/logout'
}

// 연결된 모든 유저 출력
function showListHandler(event) {
	const url = cpath + '/list'
	const opt = {
		method : 'GET'
	}
	fetch(url, opt)
		.then(resp => resp.json())
		.then(json => {
			let userList = document.querySelector('.userList')
			userList.innerHTML = ``
			json.forEach(user => {
				userList.innerHTML += `<div>${user}</div>`
			})
		})
		
}



function getQueryStringObject() {
    var a = window.location.search.substr(1).split('&');
    if (a == "") return {};
    var b = {};
    for (var i = 0; i < a.length; ++i) {
        var p = a[i].split('=', 2);
        if (p.length == 1)
            b[p[0]] = "";
        else
            b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
    }
    return b;
}
</script>
</body>
</html>      