<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style scoped>
    *{
      margin:0;
      padding:0;
      box-sizing: border-box;
      text-align: left;
    }
    .container{
      width: 80%;
      margin: 0 auto;
      margin-top: 3%;
      padding: 2%;
      border: 1px solid #e6e6e6;
    }
    .container2{
      display: flex;
      margin: 0 auto;
    }
    .rcvMail, .sendMail{
      width: 47%;
      height: 500px;
      padding: 15px;
      margin: 10px;
      border: 1px solid #e6e6e6;
    }
  </style>
</head>
<body>
  <div class="container">
    <h3 style="text-align:center">쪽지함</h3>
    <div class="container2">
      <div class="rcvMail">
        <h4 style="padding: 5px;">받은 쪽지함</h4>
      </div>
      <div class="sendMail">
        <h4 style="padding: 5px;">보낸 쪽지함</h4>
      </div>
    </div>
  </div>
</body>

</html>