.roomlist-container {
    min-width: 200px;
    max-width: 300px;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(220,220,220);
    
}

.roomlist-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(240,240,240);
    padding: 7px 7px 7px 20px;
}

.roomlist-name {
    font-weight: bold;
    font-size: 1rem;
}

.roomlist-invited {}

.roomlist-body {
    width: 100%;
    height: calc(100% - 50px)
}

.room {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(240,240,240);
    margin: 7px 0 7px 0;
    cursor: pointer;
}

.roomImage {
    width: 50px;
}

.roomTitle {
    width:calc(100% - 120px);
}

.roomUpdated {
    min-width: 70px;
}