* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}


#container {
  margin: 0 auto;
  margin-top: 150px;
  width: 100%;
}

#container2 {
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 10%;
}

/*상단*/
.used-headd {
  display: flex;
  flex-direction: column;
}
.used-headd hr{
  margin: 0 auto;
  width: 80%;
  border: 1px solid #e6e6e6;
  border-collapse: none;
}

.used-main {
  width: 90%;
  margin: 0 auto;
  margin-top: -25px;
}

@media screen and (max-width:767px) {
  .used-main img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
@media screen and (min-width:768px) and (max-width:991px) {
  .used-main img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}
@media screen and (min-width:992px) and (max-width:1200px) {
  .used-main img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}
@media screen and (min-width:1201px) {
  .used-main img {
    width: calc(100%);
    height: 250px;
    object-fit: cover;
  }
}


.used-head ul,
.used-head li {
  list-style: none;
  display: flex;
}
.used-selected li{
  cursor: pointer;
}
.used-filter-ul {
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
}

.used-filter li {
  display: flex;
}

label {
  width: 100px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
}

.used-title h2 {
  padding: 20px;
}

.used-filter {
  width: 65%;
  min-width: 400px;
  padding: 10px;
  /* background-color: rgb(150, 192, 168); */
  /* box-shadow: #e6e6e6 0.5px 0.5px 3px 0.1px; */
  margin: 0 auto;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

.used-filter ul {
  display: flex;
  flex-direction: column;

  /* grid-template-columns: 1fr minmax(384px, 1fr) 1fr; */
}
.used-filter-ur label{
  font-weight: bold;
  font-size: 1.1em;

}


.used-filter li {
  flex-wrap: wrap;
}

.used-filter p {
  line-height: 40px;
  color: #e6e6e6
}

.used-filter-ul input,
.used-filter-ul select {
  width: 140px;
  height: 40px;
  padding: 10px;
}

.used-search {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.used-searchbox {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-bottom: 1%;
  /* background-image: url('C:\Users\admin\git\Final\Camping\Vue_Camping\src\assets\img\search.png'); */
}

.used-searchbox input {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
  border: 2px solid #e6e6e6;
  /* border-radius: 7px; */
  /* box-shadow: #f9f9f9 0.5px 0.5px 3px 0.1px; */
  margin-bottom: 2%;
}

.used-searchbox>div {
  width: 55%;
  height: fit-content;
  position: relative;
}

.used-searchbox img {
  width: 50px;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}


.used-selected {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 65px;
  padding-top: 20px;
  margin: 0 auto;
}

.used-selected ul {
  display: flex;
  margin: 0 auto;
  height: 40px;
}

.used-selected li {
  text-align: center;
  font-weight: bold;
  font-size: 0.6em;
  color: #747474;
  padding: 7px;
  background-color: #ebebeb;
  border-radius: 6px;
  margin: 5px;
}

/*본문*/
.used-body {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.searched-filter {
  width: 80%;
  background-color: #f3f3f3;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 10px;
}

.used-main-msg{
  margin-left: 10%;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(7, 107, 7);
}
.usedMsg{
  padding: 7%;
}

/*본문-카드*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 10px;

}

/* .cards::after {
  display: block;
  content:"";
  width: 380px;
  margin: 10px;
} */
.card {
  width: 302px;
  /* padding: 2px; */
  margin: 10px;
  /* border-radius: 5px; */
  border: 1px solid #e6e6e6;
  /* box-shadow: #e1e1e1 1px 1px 2px 1px; */
  position: relative;
}

.card>.like img {
  width: 28px;
  position: absolute;
  right: 12px;
  top: 10px;

}

.card:hover {
  cursor: pointer;
}

.card-pic {
  margin: 0 auto;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
}

.card-pic img,
.card-pic div {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  padding: 8px;
  width: 300px;
  height: 120px;
  display: flex;
  flex-direction: column;
}

.card-top {
  display: flex;
  justify-content: space-between;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0px 8px 0px 8px;
  font-size: 0.8em;
  font-weight: 500;
  width: 100%;
}

.card-info-l {
  padding: 10px;
  text-align: left;
  word-wrap: normal;
}

.card-info-r {
  padding: 10px;
}

/*하단 글쓰기 플로팅 버튼*/
.used-foote {
  position: fixed;
  right: 5vw;
  bottom: 4vw;
  display: flex;
  flex-direction: column;
}

.used-foote button {
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 3px;
  border: none;
  border-radius: 50%;
  background-color: rgb(85, 189, 85);
  box-shadow: #dadada 1px 1px 3px 0.5px;
  color: white;
  font-size: 1.7em;
  font-weight: 100;
  /* position:fixed; */
}

.used-foote button:hover {
  cursor: pointer;
}

/* 글자색 */
.font-gray {
  color: rgb(160, 160, 160);
}

.dealGreen {
  color: rgb(62, 170, 62);
  font-size: 0.8em;
  font-weight: bold;
  background-color: rgb(232, 250, 200);
  padding: 1px 2px 1px 2px;
  border-radius: 3px;
}

.dealRed {
  color: rgb(216, 47, 17);
  font-size: 0.8em;
  font-weight: bold;
  background-color: rgb(252, 225, 225);
  padding: 1px 2px 1px 2px;
  border-radius: 3px;
}

.dealGray {
  color: darkgray;
  font-size: 0.8em;
  font-weight: bold;
  background-color: rgba(226, 226, 226, 0.459);
  padding: 1px 2px 1px;
  border-radius: 3px;
}

.statusBlack {
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  padding: 2px;
  border-radius: 3px;
}

/* select */
select {
  width: 107px;
  padding: 10px;
}

input,
select {
  border: 1px solid #e6e6e6;
  outline: 0 none;
  margin: 1px;
}

input:focus,
select:focus {
  border: 1px solid black;
}

input[type="number"] {
  padding: 10px;
  height: 40px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.font-green{
  color: #2d6128;
  font-size: 1.1em;
}
#districtSelect{
  margin-right: 10px;
}