/* 공통 부분 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: none;
    box-sizing: border-box;
}
.entry-mini-container{
    width: 80%;
    min-width: 520px;
}
.entry-mini-box{
    padding: 5px 10px;
    text-align: left;
}
.entry-mini-card{
    padding: 20px;
    background: white;
}
.row{
    display: flex;
}
.recru-mini-img{
    width: 140px;
    height: 140px;
    margin-right: 20px;
    overflow: hidden;
}
.recru-mini-img img{
    width: 100%;
    height: 140px;
}
.recru-mini-title h3{
    margin: 3px 10px 0 0;
}

.recru-mini-contents p{
    margin: 5px 0;
    text-align: left;
}