.recru-input-container{
    margin-top: 150px;
    width: 100%;
    display: flex;
    position: relative;
    padding: 10px;
}
@media(min-width:1000px) {
    /* 배경 */
    .recru-back-box{
        height: 1200px;
        width:45%;
        min-width: 600px;
        margin : 1rem;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        border-radius: 20px;
    }
    /* 입력폼 박스 */
    .recru-input-box{
        width: 50%;
        margin-left: -400px;
        min-width: 676px;
        padding: 30px;
        border-radius: 20px;
        backdrop-filter:saturate(100%) blur(30px) ;
        background-color:rgba(255, 255, 255, 0.8) !important ;
        margin-top: 4rem;
        margin-bottom: 4rem;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%) !important;
    }
}
@media(max-width:999px) {

    /* 입력폼 박스 */
    .recru-input-box{
        margin: 0 auto;
        width: 80%;
        padding: 20px;
        border-radius: 20px;
        backdrop-filter:saturate(100%) blur(30px) ;
        background-color:rgba(242, 247, 244, 0.8) !important ;
        margin-top: 4rem;
        margin-bottom: 4rem;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 10%) !important;
    }
}
/* 배경 이미지 */
.recru-input-back{
    background-image: url("@/assets/img/vue-mk-header.jpg"); 
}
.recru-update-back{
    background-position: center center;
    background-image: url("@/assets/img/main-image/main_1.jpg"); 
}

#recru-form{
    text-align: left;
}
#recru-form input,#recru-form select, #recru-form textarea{
    padding: 5px;
    margin: 3px;
    border: white;
}
#recru-form input[type=number]{
    width: 50px;
}
#recru-form p{
    margin: 10px 0;
    font-weight: bold;
}
#recru-form hr{
    margin: 5px;
}
/* 각 항목 박스 */
.recru-info-box{
    margin: 20px 10px;
}
/* 입력부 */
.recru-addr-kakao{
    width: 50%;
}
.recru-addr-detail{
   width:40%;
   background:#f1f1f1;
}
.recru-box-name li{
    margin: 5px 0 0 20px;
}
.recru-box-name label{
    display: inline-block;
    width: 70px;
}
/* 캠핑장 검색 */
.search-camp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: none;
    width: 100%;
    padding: 10px;   
    cursor: pointer; 
}
.search-camp>div{
    padding: 10px;
    width: 95%;
    border-radius: 2px;
    background: rgb(219, 230, 217);
}
.search-camp input{
    width: 70%;
}
.search-camp p{
    font-size: smaller;
}
.search-camp button{
    background-color: rgb(124, 149, 135);
}
.recruPost_camp_name{
    margin: 5px 10px 0 0;
    color: rgb(86, 135, 128);
}
.recruPost_camp:hover .recruPost_camp_address{
    padding: 3px;
    border: none;
    border-radius: 4px;
    background-color: white;
}
/* 버튼 */
.recru-info-btn{
    margin: 5px;
    padding: 3px 8px;
    border-radius: 6px;
    border: none;    
    color: white;
    font-weight: 600;
    background: rgb(179, 179, 179);
    cursor: pointer;
}
.gear-add-btn{
    background: rgb(79, 196, 155);
}
.gear-mylist-btn{
    background: rgb(87, 87, 87);
}
.recru-submit-btn{
    padding: 10px 15px;
    background: rgb(79, 196, 155);
}
.recru-submit-btn:hover{
   background: rgb(35, 189, 135);
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 14px 16px -5px rgba(0, 0, 0, 0.05)
}
/* 들여쓰기 */
.in-level{
    margin-left: 20px;
}
/* 제목 */
.recru-info-title input,.recru-info-content textarea{
    width: 80%;
}
/* 노트 부분 */
.recru-info-mynote{
    display: flex;
    justify-content: space-between;
}
.write-note-btn{
    margin-right: 20px;
    width: 92px;
}

/* 업데이트 페이지 */
.recru-show-image{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.recru-show-image div{
    width: 100px;
    margin: 0 10px; 
    position: relative;
}
.recru-show-image div img{
    width: 100%;
    height: 100px;
}
.show-image{
    opacity: 0.6;
}
.delete-image{
    position: absolute;
    left:0 ;
    color: red;
}