/* 공통 부분 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: none;
  box-sizing: border-box;
}

  /* 카드설정 - 반응형 미디어쿼리 */
  @media(min-width:550px) {
    .recru-card {
      /* max min */
      height: 300px;
      width: 20vw;
      min-width: 240px;
      border-radius: 15px;
      margin : 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      overflow: hidden;
      position: relative;
    }
  }
  @media (max-width:549px) {
    .recru-card {
      /* max min */
      height: 300px;
      width: 70vw;
      min-width: 220px;
      border-radius: 15px;
      margin : 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      overflow: hidden;
      position: relative;
    }
  }
  
  /* 카드 헤더 */
  .recru-card-header {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-between;
    
  }
  .card-header-img{
    width: 100%;
    height: 100%;
  }
  .card-header-img > div{
    width: 100%;
    height: 100%;
  }
  /* 카드 헤더 이미지 */
  .card-header-img img{
    width: auto;
    height: 100%;
    min-width: 100%
  }
  .recru-card:hover .recru-card-body{
    transform: translateY(-70%);
    background-color: rgba(255, 255, 255, 0.8);
    /* opacity: 0.2; */
    /* height:8%; */
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }  
  .recru-card:hover h1{
    margin: 30px 0 0 0;
  }
  /* 카드 바디 - 준상세 */
  .recru-card-body{
    padding: 20px 17px 17px 17px;
    /* margin-top: 10px; */
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    text-align: left;
    position: absolute;
    top:70%;
  }
  .recru-card-body span{
    font-size: small;
    display: inline-block;
    color: rgb(255, 255, 255);
    background: rgb(124, 182, 218);
    border-radius: 5px;
    padding: 3px 5px;
  }
  .card-body-need>span{
    background: rgb(155, 129, 168);
  }
  .recru-card-body h1 {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .recru-card-body p{
    font-weight: bold;
    visibility: hidden;
    margin: 0;
    font-size: 14px;
  }
  .recru-card:hover .recru-card-body h1, .recru-card:hover .recru-card-body  p{
    color: black;
    visibility: visible;
  }
  
  .card-body-my, .card-body-need{
    max-height: 43.2px;
    overflow: hidden;
  }
  .card-body-content p{
    margin: 7px 0;
  }        
  /* 카드 저장 아이콘 */
  .recru-card-wish{
    position: relative;
 
    margin-bottom:5px;
  }
  .recru-heart:active{
    padding: 5px;
  }
  .recru-card-wish img{
    width: 30px;
  }