   /* 공통 부분 */
   * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: none;
    box-sizing: border-box;
}
/* 컨테이너 */
.recru-detail-container{
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.recru-detail-box{
    width: 90%;
    max-width: 1000px;
    padding: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    text-align: left;
 } 
 .recru-detail-row{
    display: flex;
    flex-wrap: wrap;
}
@media(min-width:1000px) {
    .recru-detail-col{
        width: 45%;
        min-width: 420px;
        margin-right: 10px;
    }
}
@media(max-width:999px) {
    .recru-detail-col{
        width: 90%;
    }
}
.recru-detail-post{
    justify-content: center;
}
.recru-detail-post span{
    font-weight: bold;
    display: inline-block;
    width: 120px;
}
.recru-detail-post h3, .mynote-page h3{
    color: rgb(132, 167, 147);
    font-weight: bold;
    margin: 10px 0;
}
 /* 제목 */
 .recru-detail-title{
    margin: 21px 0 0 50px
 }
/* 유저 프로필 */
.recru-detail-user{
    display: flex;  
}
.recru-detail-user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
}
.recru-detail-user p{
    padding: 10px 0 10px 10px;
}
.recru-detail-post p{
   margin: 10px 5px ;
}
.recru-detail-date{
    color: gray;
    font-size: small;
}
.report-btn{
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-size:13px;
    font-weight: bold;
    border: none;
    color: gray;
    margin: 15px 10px 0 10px;
}
.report-btn:hover{
    cursor: pointer;
}

/* 장비사진, 지도 크기 */
.recru-detail-img, .recru-detail-info ,.recru-detail-map{ 
    height: 400px;
    width: 90%;
    min-width: 400px;
    margin: 30px 10px;
    display: block;
    overflow: hidden;
    border-radius: 5px;
}
.recru-detail-img img, .recru-detail-map img{
    height: 100%;
    width: 100%;
}
.recru-detail-info p {
    margin: 7px;
}
/* 내용 */
.recruPost-content, .show_region_camp{
    border: 5px solid lightgray;
    border-radius: 10px;
    padding: 15px;    
}
.recruPost-content >  textarea{
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    background: none;
}
.show_region_camp h4{
    color: cadetblue;
}
.recruPost_camp{
    cursor: pointer;
    overflow-x: hidden;
}
.recruPost_camp:hover{
    color: rgb(155, 194, 165);
}
/* 마이노트 */
.mynote-page{
    margin: 10px 50px;
}
.mynote-page h3{
    margin : 20px
}
.what-is-note{
    width: 15px;
    height: 15px;

    font-size:small;
    border: 2px solid gainsboro;
    border-radius: 10%;

}
/* 버튼 */
.recru-detail-btn{
    z-index: 100;
    width:  100%;
    height: 7%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    display: flex;
    background-color: #f9f9f9;
    border-top: 1px solid #efefef;
    padding-left: 70%;
}
.recru-detail-btn button{
    padding: 10px;
    border: none;
    border-radius: 2px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
}
.btn-orange{
    background: rgb(238, 100, 50);
    color: white;
}
.btn-green{
    background: #4caf50;
    color: white;
}
.btn-lightgray{
    color:gray; 
    background: nlightgray;
}
.hover-shadow:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
}
.findCamp{
    background: white;
    border: none;
    cursor: pointer;
}
/* 동행신청 내역 */
.recru-entry-post{
    padding: 20px;
    background: rgba(228,239,231,0.7) ;
    margin-top: 20px;
}
.recru-entry-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 보증금 상태 */
.deposit-status-box{
    padding: 20px;
    border: 5px solid rgba(228,239,231,0.7);
    margin: 20px 0;
}
.deposit-status-box h3{
    margin-bottom: 20px;
}