<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.app.note.mapper.NoteImgMapper">

<!-- 입력 -->
	<insert id="insertNoteImg" parameterType="NoteImgVO">
		<selectKey keyProperty="imgId" resultType="Integer" order="BEFORE">
			SELECT NVL(MAX(img_id),0)+1 FROM note_img
		</selectKey>
		INSERT INTO note_img(
				img_id,
				note_id,
				origin_name,
				stored_name,
				img_format,
				img_path,
				img_size,
								)
			VALUES(
				#{imgId},
				#{noteId},
				#{originName},
				#{storedName},
				#{imgFormat},
				#{imgPath},
				#{imgSize}
				
		)
	</insert>
	
	<select id="getMaxNoteId" parameterType="Integer" resultType ="NoteImgVO">
		SELECT MAX(note_id)
		FROM note
	</select>
</mapper>	
