<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.app.chat.mapper.ChatMapper">
	<insert id="insert" parameterType="ChatVO">
		INSERT INTO chat 
		VALUES (
			#{chatId},
			#{roomId},
			#{email},
			#{message},
			SYSDATE					
		)
	</insert>
	<select id="findByRoomId" parameterType="ChatVO" resultType="ChatVO">
		SELECT * FROM chat WHERE room_id = #{roomId} ORDER BY regdate
	</select>
	<select id="findByChatId" parameterType="ChatVO" resultType="ChatVO">
		SELECT * FROM chat WHERE chat_id = #{chatId}
	</select>
	<select id="countByRoomIdAndChatId" parameterType="ChatVO" resultType="Integer">
		SELECT COUNT(*) FROM chat WHERE room_id = #{roomId} AND chat_id > #{chatId}
	</select>
	<select id="findMaxChatId" resultType="Integer">
		SELECT NVL(MAX(chat_id),0)+1 FROM chat
	</select>
</mapper>