.report-container {
  font-family: "Noto Sansf KR", sans-serif;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.report {
  width: 40%;
  max-width: 400px;
  border: 0.5px solid #aaa;
  border-radius: 5px;
}

.report-default-text {
  height: 180px;
}

.report-default-text textarea {
  font-family: "Noto Sansf KR", sans-serif;

  margin-top: 5px;
  width: 90%;
  height: 10%;
  min-height: 200px;
  min-width: 200px;
  margin-top: 10px;

  resize: none;
  border: none;

}

.report-reason select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: "Noto Sansf KR", sans-serif;
  /* font-size: 1rem; */
  font-weight: 400;
  line-height: 1.5;

  color: #444;
  background-color: #fff;

  width: 90%;
  padding: 0.6em 1.4em 0.5em 0.8em;
  margin: 0;

  border: 1px solid #aaa;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select:disabled {
  opacity: 0.5;
}

.report-text textarea {

  width: 90%;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0.5px solid #aaa;
  border-radius: 5px;
  resize: none;
}

.report-button input[type=button] {
  padding: 2px 15px 2px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(228, 225, 225);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}