/*버튼임*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
    
:root {
--button-color: rgba(228,239,231,0.7);
--button-bg-color: #0d6efd;
--button-hover-bg-color: #025ce2;
}

button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;

background: var(--button-bg-color);
color: var(--button-color);

margin: 0;
padding: 0.5rem 1rem;

font-family: 'Noto Sans KR', sans-serif;
font-size: 1rem;
font-weight: 400;
text-align: center;
text-decoration: none;

border: none;
border-radius: 4px;

display: inline-block;
width: auto;

box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

cursor: pointer;

transition: 0.5s;
}

button.success {
--button-bg-color: #28a745;
--button-hover-bg-color: #218838;
}
button.modal_delbtn {
--button-bg-color: #c72939;
--button-hover-bg-color: #e04958;
}
button.warning {
--button-color: #212529;
--button-bg-color: #ffc107;
--button-hover-bg-color: #e0a800;
}

button:active,
button:hover,
button:focus {
background: var(--button-hover-bg-color);
outline: 0;
}
button:disabled {
opacity: 0.5;
}

.row{ 
    width: 100%;
}
/* page_section*/
.mynote_container {
    width: 100%;
    min-width: 650px;
    margin-top: 150px;
    position: relative;
}
.mynote_menu {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
}
.mynote_menu>div {
    width: 20%;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 15px;
    text-align: center;
    cursor: pointer;
}
.mynote_menu>div:hover {
    background-color: rgba(228, 239, 231, 0.7);
}
.howtouse_region {
    margin-top: 5px;
    width: 100%;
    border: 1px solid lightgray;
}
.mynote_list {
    display: flex;
    flex-direction: row;
}
.mynote_list>div {
    padding: 5px 0px 5px 0px;
}
.mynote_region {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    height: 600px;
    vertical-align: left;
    display: flex;
    flex-direction: row; 
}
.select_note{
    margin: 20px 0 10px 88%; 
    width: 140px;
    height: 35px;
    border-radius: 4px;
    border: 2px solid rgb(6,68,32);

}
.select_note .select{ 
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    position: relative;
    padding: 0 5px; 
}
.select_note .select option {
    background: rgb(6,68,32);
    color: #fff;
    padding: 3px 0;
    font-size: 16px;
}

/* card_section css */ 
.column{    
    padding-top: 10px;    
    padding-bottom: 10px;
    margin: 0 20px 0 0;
    width: 440px;  
}  
.container-fluid{    
    margin-top: 20px;

}  
.container-fluid .card{    
    margin-left:auto;    
    margin-right:auto;
    margin-bottom: 50px; 
    width: 30%;
    height: 200px;
    cursor: pointer;  
}
input { 
background-color: transparent;
border: none;
color: white;
font-weight: bold;
font-size: 20px;
}
/* 이동 타켓 */  
.card-placeholder {    
    border: 1px dotted black;    
    margin: 0 1em 1em 0;    
    height: 50px;    
    margin-left:auto;    
    margin-right:auto;    
    /* 선택한 카드 이동할 때 원래 자리 표시 */    
    background-color: skyblue;  
}  
/* 마우스 포인터을 손가락으로 변경 */  
.card:not(.no-move) .card-header{    
    cursor: pointer;  
}
.card-header{ 
    display : flex;
    position: relative;
    padding: 20px 0 20px 0; 
}
.header_button{ 
position : absolute;
right: 45px;
top : 15px; 
}
.checkbox {
    position: absolute;
    right: 10px;
    transform: scale(2);
}
.select_container{ 
    position: relative;
}
.card-body{ 
padding: 20px 0 20px 0;
text-align: justify;
}

.card-title{ 
margin-top: 10px;
}
/* fn_btn */
.mynote_btn{ 
    padding : 5px 0 5px 0;
    justify-content: right;
    position: absolute;
    right: 230px;          
}

.header_button>button{ 
    /*opacity: 0;*/
    transition-duration: 0.5s;
    margin-left: 5px;
    width: fit-content;
}
.mynote_btn>button{
    margin-right: 10px;
}
.btn_active {
    opacity: 1 !important;
}