<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.app.save.mapper.SaveMapper">
	<select id="findAll" resultType="SaveVO">
		SELECT * FROM save
	</select>
	<select id="findByEmailAndBoardDivision" parameterType="SaveVO" resultType="SaveVO">
		SELECT * FROM save WHERE email = #{email} AND board_division = #{boardDivision} 
	</select>
	<select id="findMaxSaveId" resultType="Integer">
		SELECT NVL(MAX(save_id),0) FROM save
	</select>
	<select id="exist" parameterType="SaveVO" resultType="boolean">
		SELECT COUNT(*) FROM save WHERE board_id = #{boardId} AND email = #{email}
	</select>
	<insert id="insert" parameterType="SaveVO">
		INSERT INTO save VALUES(
			#{saveId},
			#{boardId},
			#{boardDivision},
			#{email}
		)
	</insert>
	<delete id="delete" parameterType="SaveVO">
		DELETE FROM save WHERE board_id = #{boardId} AND email = #{email} AND board_division = #{boardDivision}
	</delete>
</mapper> 