.write_fn {
    cursor: pointer;
    /*display: inline-block;
    position: relative;
    display: flex;
    height: fit-content;*/
    margin-bottom: 10px;
    border: none;
    width: 90%;   
}
.btn_container {
    display: flex;
    flex-direction: row;
    opacity: 0;
    transition-duration: 0.5s;
}
.btn_active {
    opacity: 0.6 !important;
}
.drag_btn {
    width: 25px;
    height: 25px;
    font-size: 5px;
    cursor: pointer;
}
.del_line {
    width: 25px;
    height: 25px;
    font-size: 5px;
    cursor: pointer;
}
.textarea_container{ 
  width : 100%;
  /*height: fit-content;*/
}
textarea{ 
    width: 100%; 
    border : none;
    padding: 10px 10px;
    font-size: 15px;
    height: 50%;
    outline-color:rgb(127, 199, 175);   
    min-height: 20px;
    resize: none;
    overflow: hidden;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 4px;
    font-family: "Inconsolata", monospace;
    font-size: 1rem;
    color: #000;
    border: none;
    
  
}