
.mynote_container {
    margin-top: 150px;
    width: 100%;
    min-width: 650px;
}
.mynote_menu {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
}
.mynote_menu>div {
    
    width: 20%;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 15px;
    text-align: center;
    cursor: pointer;
}
.mynote_menu>div:hover {
    background-color: rgba(228, 239, 231, 0.7);
}
.howtouse_region {
    margin-top: 5px;
    width: 100%;
    border: 1px solid lightgray;
}
.mynote_list {
    display: flex;
    flex-direction: row;
}
.mynote_list>div {
    padding: 5px 0px 5px 0px;
}
.mynote_region {
    /*작성 페이지에서 가장 바깥 테두리*/
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    height: 600px;
    vertical-align: left;
    display: flex;
    flex-direction: row;
    position: relative;
}
.mynote_region>div{ 
    margin: 0 0 10px 20px;
}
.write_menu {
    width: 120px;
    margin-right: 10px;
}

.write_region {
    position: absolute;
    left :15%;
    width: calc(100% - 120px);
    min-width: 100px;
}

.sortable {
    height: fit-content;
    display: flex;
    flex-direction: column;
}
textarea{ 
    /*display: inline-block;*/
    
    width: 100%; 
    border : none;
    padding: 10px 10px;
    font-size: 15px;
    height: 50%;
    outline-color:rgb(127, 199, 175);
   
}

.note_title {
    width: 70%;
    height: 50px;
    margin: 5px 10px 10px 10px;
    border: none;
    font-size: 25px;
    font-weight: bold;
}

.text_highlighter {
    margin-top: 30px;
}
.textarea_container{ 
    width : 100%;
    /*height: fit-content;*/
  }
.write_fn {
    
    
    display: flex;
    height: fit-content;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
    width: 90%;
    
}
.fn_menu>div {
    
    width: 100%;
    cursor: pointer;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fn_menu {
    margin-left: 45px;
    border: 1px solid lightgray;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 30px;
    align-items: center;
}
.add_fn_container {
    margin-top: 20px;
    width: 100%;
    align-content: center;
}
.add_fn_container>div {
    margin-bottom: 10px;
    text-align: center;
}

.text_fn_container {
    display: flex;
    flex-direction: column;
}

.highlighter_menu {
    display: flex;
    flex-direction: row;
}

.highlighter_menu>button {
    margin: 0 3px 0 3px;
}
#foreColor{ 
    width: 107px;
    margin-top: 17px;
    margin-bottom: 10px;
}
.sort_menu {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.sort_menu>button {
    display: flex;
    flex-direction: row;
    margin: 0 3px 0 3px;
}

.text_font {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.text_size {
    margin-top: 10px;
    
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    font-family: "Noto Sansf KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    color: #444;
    background-color: #fff;

    padding: .6em 1.4em .5em .8em;

    margin-top: 10px;

    border: 1px solid #aaa;
    border-radius: .5em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    width: fit-content;
}

select:hover {
    border-color: #888;
}

select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(197, 222, 248, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

select:disabled {
    opacity: 0.5;
}

.maked_table_place {
    /*display: flex;*/
    /*position: relative;*/
    margin-bottom: 20px;
}

.table_container {
    display: flex;
    position: relative;
    width: fit-content;
}

.maked_table {
    border-collapse: collapse;
    max-width: 800px;
    height: 10%;
}

.maked_table td {
    border: 2px solid lightgray;
}
.item_td {
    width: 200px;
    height: fit-content;
}

.item_td>input {
    border: none;
    width: 90%;
    outline: none;
}

.input_text {
    width: 100px;
    height: 100%;
}

.del_row {
    width: 50px;
}

.col_addbtn {
    right: 0;
    border: none;
    background-color: transparent;
    opacity: 0.6;
    transition-duration: 0.5s;
    padding: 10px;
}

.row_addbtn {
    position: absolute;
    bottom: -30px;
    height: 30px;
    width: 75%;
    left: 11%;
    background-color: transparent;
    border: none;
    opacity: 0.6;
    transition-duration: 0.5s;
}

.row-button-container {
    width: 30px;
    border: none !important;

}

.row_delbtn {
    opacity: 0.6;
    transition-duration: 0.5s;
    background-color: transparent;
    border: none;

}

.fn_btn {
    font-size: 5px;
    width: 25px;
    height: 25px;
    border: 2px solid lightgray;
}

.drag_btn {
    width: 25px;
    height: 25px;
    font-size: 5px;
    cursor: pointer;
}
.del_line {
    width: 25px;
    height: 25px;
    font-size: 5px;
    cursor: pointer;
}
.checkbox_place{ 
    display: flex;
    flex-direction: column;
    width: 50%;
}
.checkbox_list{ 
    display : flex;
}
.box_container{ 
    padding:0;
    display: flex;
    margin-left: 1%;
    margin-bottom: 6px;
}

.checkbox_text {
    width : 200px;
    height: 80%;
    font-size: 15px;
    margin: 10px 0px 5px 10px;
    border: 1px solid lightgray;
    border-radius: 5%;
}
.noteCheckbox{ 
    margin-top: 10px;
}
.checkbox_button_container {
    display: flex;
    margin-left: 5px;
    width: 40px;
    
}

.checkbox_button_container>button {
    width: 25px;
    height: 25px;
    opacity: 0.6;
    transition-duration: 0.4s;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 0;
}

.fn_btn_place {
    position: relative;
}

.textbox {
    background-color: beige;
    border: 3px solid beige;
    line-height: 10px;
    width: 90%;
}

.btn_container {
    display: flex;
    flex-direction: row;
    opacity: 0.6;
    transition-duration: 0.5s;
}

.btn_active {
    opacity: 0.6 !important;
}

#savePdf {
    
    height: fit-content;
    background-color: transparent;
    border: #fff;
}
.save_btn{ 
    margin : 10px 0 10px 0;
}
.textbox {
    background-color: beige;
    border: 3px solid beige;
    line-height: 10px;
}