.deposit-progress{
  width: 100%;
  height: 120px;
  min-width: 300px;
  margin: auto 0;
}
.container{
width: 100%;
z-index: 1;
}
.gray{
color: lightgray;
}
.progressName-box{
height:20px;
}
.progressName li{
float: left;
width: 25%;
font-weight: bold;
position: relative;
text-align: center;
margin: 0;
}
.deposit-progressbar li{
float: left;
width: 25%;
position: relative;
text-align: center;
}
.deposit-progressbar{
margin-top: 10px;
list-style: none;
counter-reset: step;
}
/* 숫자 */
.deposit-progressbar li:before{
content:"1";
width: 30px;
height: 30px;
border: 2px solid #bebebe;
display: block;
margin: 0 auto 10px auto;
border-radius: 50%;
line-height: 27px;
background: white;
color: #bebebe;
text-align: center;
font-weight: bold;
}
.deposit-progressbar li:before{
content:counter(step);
counter-increment: step;
width: 30px;
height: 30px;
border: 2px solid #bebebe;
display: block;
margin: 0 auto 10px auto;
border-radius: 50%;
line-height: 27px;
background: white;
color: #bebebe;
text-align: center;
font-weight: bold;
}
/* 라인 */
.deposit-progressbar li:after{
content: '';
position: absolute;
width:100%;
height: 3px;
background: #979797;
top: 15px;
left: -50%;
z-index: -1;
}
.deposit-progressbar li:first-child:after{
content: none;
}
/* 진행중표시 */
.deposit-progressbar li:first-child:before{
border-color: #3aac5d;
background: #3aac5d;
color: white
}
.deposit-progressbar li.active + li:before{
border-color: #3aac5d;
background: #3aac5d;
color: white
}
.deposit-progressbar li.active + li:after{
background: #3aac5d;
}
.active span{
color: #3aac5d;
font-size: large;
}