   /* 공통 부분 */
   * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: none;
    box-sizing: border-box;
}
/* 컨테이너 */
.recru-detail-container{
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.recru-detail-box{
    width: 90%;
    max-width: 1000px;
    padding: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    text-align: left;
 } 
 .recru-detail-row{
    display: flex;
    flex-wrap: wrap;
}
.recru-detail-col{
    width: 45%;
    min-width: 420px;
    margin-right: 10px;
}
.recru-detail-post{
    justify-content: center;
}
.recru-detail-post span{
    font-weight: bold;
    display: inline-block;
    width: 120px;
}
.recru-detail-post h3{
    color: rgb(132, 167, 147);
}
 /* 제목 */
 .recru-detail-title{
    margin: 21px 0 0 50px
 }
/* 유저 프로필 */
.recru-detail-user{
    display: flex;  
}
.recru-detail-user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
}
.recru-detail-user p{
    padding: 10px 0 10px 10px;
}
.recru-detail-post p{
   margin: 10px 5px ;
}
.recru-detail-date{
    color: gray;
    font-size: small;
}
.report-btn{
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-size:13px;
    font-weight: bold;
    border: none;
    color: gray;
    margin: 15px 10px 0 10px;
}
.report-btn:hover{
    cursor: pointer;
}

/* 장비사진, 지도 크기 */
.recru-detail-img, .recru-detail-info ,.recru-detail-map{ 
    height: 400px;
    width: 90%;
    min-width: 400px;
    margin: 30px 10px;
    display: block;
    overflow: hidden;
    border-radius: 5px;
}
.recru-detail-img img, .recru-detail-map img{
    height: 100%;
    width: 100%;
}
.recru-detail-info p {
    margin: 7px;
}
/* 내용 */
.recruPost-content{
    border: 5px solid lightgray;
    border-radius: 10px;
    width: 90%;
    padding: 15px;    
}
/* 버튼 */
.recru-detail-btn{
    z-index: 100;
    width:  100%;
    height: 7%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    display: flex;
    background-color: #f9f9f9;
    border-top: 1px solid #efefef;
    padding-left: 70%;
}
.recru-detail-btn button{
    padding: 10px;
    border: none;
    border-radius: 2px;
    margin: 5px;
    font-weight: bold;
}
.btn-green{
    background: #4caf50;
    color: white;
}
.hover-shadow:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
}
/* 동행신청 내역 */
.recru-entry-post{
    padding: 20px;
    background: rgba(228,239,231,0.7) ;
    margin-top: 20px;
}
.recru-entry-post h3{
    margin-bottom: 20px;
}
.recru-entry-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 보증금 상태 */
.deposit-status-box{
    padding: 20px;
    border: 5px solid rgba(228,239,231,0.7);
    margin: 20px 0;
}
.deposit-status-box h3{
    margin-bottom: 20px;
}