<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="VARCHAR" />
	</settings>
	<typeAliases>
	<!-- Package : Bean을 이용해서 찾음. -->
		<package name="com.camp.app"/>
	</typeAliases>
	<typeHandlers>
	<!-- java.sql.Timestamp 를 java.util.Date 형으로 변환 -->
		<typeHandler javaType="java.sql.Date" handler="org.apache.ibatis.type.DateTypeHandler"/>
	</typeHandlers>
</configuration>